/*
font-family: 'Montserrat', sans-serif;
font-family: 'Damion', cursive;
*/

html {
  line-height: 1.2em;
  font-family: 'Montserrat', cursive;
  font-size: 16px;
}

body {
  background-color: #8CDAD0;
  color:#000000;
}

header {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 1.15em 1.5em;
  background-color: #5FBDB0;
  color: #ffffff;
}

#company_title {
  font-size: 3em;
  font-family: 'Damion', sans-serif;
  margin-bottom: .25em;
}

#container {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 95%;
}

#desc_section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

h1 {
  font-family: 'Damion', cursive;
  font-size: 3.583em; /* 57.331px */
}

#desc_section p {
  margin-top: 1em; /* 16px */
}

#form_section {
  width: 100%;
  margin:auto;
  margin-top: 2em;
  font-size: 1em; /* 16px */
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: 'Damion', cursive;
}

input {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  margin-top: 1em;
  padding: .6em;
  background-color: #EDFDFB;
  color: rgb(16, 148, 130);
  font-size: 1em; /* 16px */
  border: none;
  border-radius: 0.3em;
  -webkit-appearance: none;
}

input[type=email]:focus,[type=text]:focus,[type=tel]:focus {
  outline: none;
  border: 0.5px solid #ffffff;
  box-shadow: 0 0 4px #ffffff;
}

#submit_button {
  width:75%;
  margin-top: 1em; /* 16px */
  border-radius: 5px;
  background-color: #3A9B8E;
  color:#EDFDFB;
  font-family: 'Barlow', sans-serif;
  -webkit-appearance: none;
}

#submit_button:hover {
  background-color: rgb(40, 136, 123);
}

label {
  display: block;
  box-sizing: border-box;
  margin:auto;
  width: 100%;
  margin-top: 1em; /* 16px */
  font-size: 1em; /* 16px */
}

::selection {
  background-color: #EDFDFB;
  color: rgb(16, 148, 130);
}

::-moz-selection {
  background-color: #EDFDFB;
  color: rgb(16, 148, 130)
}

::-o-selection {
  background-color: #EDFDFB;
  color: rgb(16, 148, 130)
}

::-ms-selection {
  background-color: #EDFDFB;
  color: rgb(16, 148, 130)
}

::-webkit-selection {
  background-color: #EDFDFB;
  color: rgb(16, 148, 130)
}


/* Tablet */
@media only screen and (min-width: 768px) {
  body {
    font-size: .9em;
  }

  #container {
    width:75%;
  }

  #desc_section {
    margin-top: 2em;
  }

  #form_section {
    margin-top: 3em;
  }

  input {
    width:100%;
  }

  label {
    width:100%;
  }

  #submit_button {
    width:50%;
  }
}


/* Laptop/Desktop */
@media only screen and (min-width: 1025px) {
  body {
    font-size: .75em;
  }

  #container {
    width: 40em;
  }

  h1 {
    margin-bottom: 1em;
  }

  input {
    width: 30em;
  }

  label {
    width: 10em;
    float: left;
  }

  #submit_button {
    width:8em;
  }
}