/*
font-family: 'Montserrat', sans-serif;
font-family: 'Damion', cursive;
*/

/* TODO: switch sizing to a modular scale
*/

html {
  line-height: 1.2em;
  font-family: 'Montserrat', cursive;
  font-size: 16px; 
}

body {
  background-color: #a9ece3;
  color:#006d5e;
}

header {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 1.15em 1.5em;
  background-color: #3A9B8E;
  color: #f3fcfa;
}

#company_title {
  font-size: 3em;
  font-family: 'Damion', sans-serif;
  margin-bottom: .25em;
  text-align: center;
}

#desc_section {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  padding: 1.5em 0 3em 0;
  text-align: center;
  background-color: #5FBDB0;
  color:#cdf5ef;
}

h1 {
  margin-bottom: .5em;
  font-family: 'Damion', cursive;
  font-size: 3em;
  color:#006d5e;
}

#desc_section p {
  margin-top: .75em; /* 16px */
  font-size: 1.2em;
}

#form_section {
  width: 100%;
  margin:auto;
  padding: 1.5em 0 2em 0;
  font-size: 1em; /* 16px */
  background-color: #8CDAD0;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: 'Damion', cursive;
  color:#006d5e;
}

input {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  margin-top: 1em;
  padding: .6em;
  background-color: #EDFDFB;
  color: rgb(16, 148, 130);
  font-size: 1em; /* 16px */
  border: none;
  border-radius: 0.3em;
  -webkit-appearance: none;
}

input[type=email]:focus,[type=text]:focus,[type=tel]:focus {
  outline: none;
  border: 0.5px solid #ffffff;
  box-shadow: 0 0 4px #ffffff;
}

#submit_button {
  width:40%;
  margin-top: 1em; /* 16px */
  border-radius: 5px;
  background-color: #3A9B8E;
  color:#EDFDFB;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  -webkit-appearance: none;
}

#submit_button:hover {
  background-color: rgb(40, 136, 123);
}

label {
  display: block;
  box-sizing: border-box;
  margin:auto;
  width: 90%;
  margin-top: 1em; /* 16px */
  font-size: 1em; /* 16px */
}

#detail_section {
  display: block;
  box-sizing: border-box;
  width:100%;
  padding:3em;
}

.detail {
  display: block;
  margin-bottom: 4em;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

.detail_p {
  margin-top: 1em;
  text-align: center;
  font-size: 1.25em;
}

.img_attr {
  margin-top: 1em;
  text-align: center;
  font-size: .7em;
  color: #5FBDB0;
}

a {
  text-decoration: none;
  color: #5FBDB0;
}


/* Tablet */
@media only screen and (min-width: 768px) {
  body {
    font-size: .9em;
  }

  #company_title {
    margin-top: .3em;
    margin-bottom: .3em;
    text-align: left;
  }

  #desc_section p {
    font-size: 1.15em;
  }

  input {
    width:70%;
  }

  label {
    width:70%;
  }

  #submit_button {
    width:30%;
  }

  img {
    width:40%;
  }

  .detail_p {
    font-size: 1.3em;
  }
}


/* Laptop/Desktop */
@media only screen and (min-width: 1025px) {
  body {
    font-size: .9em;
  }

  #company_title {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  h1 {
    margin-bottom: .6em;
  }

  #desc_section p {
    font-size: 1.15em;
  }

  #form_section {
    padding: 1em 0 6em 0;
  }

  form {
    display: block;
    box-sizing: border-box;
    margin: auto;
    width:48em;
  }

  input {
    width: 30em;
    font-size: 1.15em;
  }

  label {
    width: 10em;
    float: left;
    font-size: 1.15em;
  }

  #submit_button {
    width:8em;
    float: right;
    margin-right: 1em;
  }

  .detail {
    display: inline-block;
    width:33%;
  }

  img {
    width: 50%;
  }
}